<div class="row">
  <mat-form-field class="inp1">
    <input matInput type="text" [(ngModel)]="lrange" (ngModelChange)="refresh()">
  </mat-form-field>
  <mat-form-field class="ml10 inp1 inp2">
    <input matInput type="text" [(ngModel)]="urange" (ngModelChange)="refresh()">
  </mat-form-field>
  <!-- <input [(ngModel)]="operate"> -->
</div>

<div class="mt20">
  <span>{{firstNumber}}</span>
  <span>&nbsp;{{operate}}&nbsp;</span>
  <span>{{secondNumber}}</span>
  <span>&nbsp;=&nbsp;?</span>
</div>
<app-answer-choose></app-answer-choose>
<!--
<div *ngFor="let item of answers">
  <button [class]="'mt10 full '+item.class" mat-raised-button (click)="showResult(item)">
    {{item.code}}. {{item.value}}
  </button>
</div> -->
<!-- <mat-chip-listbox class="mat-mdc-chip-set-stacked mt50">
  <mat-chip-option *ngFor="let item of answers" (click)="showResult(item.value)" [color]=" item.color">
    <div [class]="item.color">
      {{item.code}}. {{item.value}}
    </div>
  </mat-chip-option>
</mat-chip-listbox> -->
<!-- <div [hidden]="!showResultEl">
  <button [hidden]="!correct" mat-flat-button color="green">Correct</button>
  <button [hidden]="correct" mat-raised-button color="warn">Wrong</button>
</div> -->


<div>
  <button class="p50" mat-raised-button (click)="refresh()">Continue</button>
</div>