.p10 {
  margin: 20px;
}

.p50 {
  margin-top: 50px;
}

.mt50 {
  margin-top: 50px;
}

.mt20 {
  margin-top: 20px;
}

.full {
  display: flex;
  flex: 1;
}

.mat-mdc-standard-chip.mdc-evolution-chip--with-primary-graphic .mdc-evolution-chip__action--primary {
  display: flex;
  flex: 1;
}