<div class="row">
  <mat-form-field class="inp1">
    <input matInput type="text" [(ngModel)]="lrange" (ngModelChange)="refresh()">
  </mat-form-field>
  <mat-form-field class="ml10 inp1 inp2">
    <input matInput type="text" [(ngModel)]="urange" (ngModelChange)="refresh()">
  </mat-form-field>

</div>

<div class="mt20">
  <span>{{firstNumber}}</span>
  <span>&nbsp;{{operate}}&nbsp;</span>
  <span>{{secondNumber}}</span>
  <span>&nbsp;=&nbsp;?</span>
</div>
<app-answer-choose></app-answer-choose>


<div>
  <button class="p50" mat-raised-button (click)="refresh()">Continue</button>
</div>