<div>

  <div class="vert">
    <a class="mb10" mat-raised-button [routerLink]="'/cong'">Cộng</a>
    <a class="mb10" mat-raised-button [routerLink]="'/cong-nho'">Cộng nhớ</a>
    <a class="mb10" mat-raised-button [routerLink]="'/cong-doc'">Cộng dọc</a>

    <a class="mb10" mat-raised-button [routerLink]="'/tru'">Trừ</a>
    <a class="mb10" mat-raised-button [routerLink]="'/tru-nho'">Trừ nhớ</a>
    <a class="mb10" mat-raised-button [routerLink]="'/tru-doc'">Trừ dọc</a>



    <a class="mb10" mat-raised-button [routerLink]="'/nhan'">Nhân</a>
    <a class="mb10" mat-raised-button [routerLink]="'/nhan-doc'">Nhân dọc</a>
    <a class="mb10" mat-raised-button [routerLink]="'/chia'">Chia</a>
    <a class="mb10" mat-raised-button [routerLink]="'/chia-ngang'">Chia ngang</a>
    <a class="mb10" mat-raised-button [routerLink]="'/summary'">Summary</a>
  </div>

</div>